In [324]:
import pandas as pd
import numpy as np

In [325]:
data = pd.read_csv("data/health_lifestyle_classification.csv")

In [326]:
data

,survey_code,age,gender,height,weight,bmi,bmi_estimated,bmi_scaled,bmi_corrected,waist_size,...,sunlight_exposure,meals_per_day,caffeine_intake,family_history,pet_owner,electrolyte_level,gene_marker_flag,environmental_risk_score,daily_supplement_dosage,target
0,1,56,Male,173.416872,56.886640,18.915925,18.915925,56.747776,18.989117,72.165130,...,High,5,Moderate,No,Yes,0,1.0,5.5,-2.275502,healthy
1,2,69,Female,163.207380,97.799859,36.716278,36.716278,110.148833,36.511417,85.598889,...,High,5,High,Yes,No,0,1.0,5.5,6.239340,healthy
2,3,46,Male,177.281966,80.687562,25.673050,25.673050,77.019151,25.587429,90.295030,...,High,4,Moderate,No,No,0,1.0,5.5,5.423737,healthy
3,4,32,Female,172.101255,63.142868,21.318480,21.318480,63.955440,21.177109,100.504211,...,High,1,NaN,No,Yes,0,1.0,5.5,8.388611,healthy
4,5,60,Female,163.608816,40.000000,14.943302,14.943302,44.829907,14.844299,69.021150,...,High,1,High,Yes,Yes,0,1.0,5.5,0.332622,healthy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,53,Male,177.202253,54.303671,17.293811,17.293811,51.881433,17.227616,88.740028,...,Moderate,1,High,No,Yes,0,1.0,5.5,3.477124,healthy
99996,99997,22,Male,180.802297,40.033853,12.246712,12.246712,36.740135,12.159473,103.659560,...,Moderate,5,NaN,Yes,No,0,1.0,5.5,1.609656,healthy
99997,99998,37,Male,185.540653,84.536847,24.556580,24.556580,73.669741,24.172944,98.920422,...,Low,5,NaN,No,No,0,1.0,5.5,-9.736463,healthy
99998,99999,72,Female,181.796786,56.923335,17.223362,17.223362,51.670087,17.715475,54.559079,...,Low,4,High,Yes,Yes,0,1.0,5.5,-4.779376,healthy
99999,100000,37,Male,175.716378,93.017286,30.125841,30.125841,90.377523,30.254072,70.743851,...,High,4,Moderate,Yes,No,0,1.0,5.5,-2.010351,diseased

## 1. inspecting a dataframe

In [327]:
data.head()

,survey_code,age,gender,height,weight,bmi,bmi_estimated,bmi_scaled,bmi_corrected,waist_size,...,sunlight_exposure,meals_per_day,caffeine_intake,family_history,pet_owner,electrolyte_level,gene_marker_flag,environmental_risk_score,daily_supplement_dosage,target
0,1,56,Male,173.416872,56.886640,18.915925,18.915925,56.747776,18.989117,72.165130,...,High,5,Moderate,No,Yes,0,1.0,5.5,-2.275502,healthy
1,2,69,Female,163.207380,97.799859,36.716278,36.716278,110.148833,36.511417,85.598889,...,High,5,High,Yes,No,0,1.0,5.5,6.239340,healthy
2,3,46,Male,177.281966,80.687562,25.673050,25.673050,77.019151,25.587429,90.295030,...,High,4,Moderate,No,No,0,1.0,5.5,5.423737,healthy
3,4,32,Female,172.101255,63.142868,21.318480,21.318480,63.955440,21.177109,100.504211,...,High,1,NaN,No,Yes,0,1.0,5.5,8.388611,healthy
4,5,60,Female,163.608816,40.000000,14.943302,14.943302,44.829907,14.844299,69.021150,...,High,1,High,Yes,Yes,0,1.0,5.5,0.332622,healthy

In [328]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   survey_code               100000 non-null  int64
 1   age                       100000 non-null  int64
 2   gender                    100000 non-null  object
 3   height                    100000 non-null  float64
 4   weight                    100000 non-null  float64
 5   bmi                       100000 non-null  float64
 6   bmi_estimated             100000 non-null  float64
 7   bmi_scaled                100000 non-null  float64
 8   bmi_corrected             100000 non-null  float64
 9   waist_size                100000 non-null  float64
 10  blood_pressure            92331 non-null   float64
 11  heart_rate                85997 non-null   float64
 12  cholesterol               100000 non-null  float64
 13  glucose                   100000 non-null  float64
 14  insulin                   84164 non-null   float64
 15  sleep_hours               100000 non-null  float64
 16  sleep_quality             100000 non-null  object
 17  work_hours                100000 non-null  float64
 18  physical_activity         100000 non-null  float64
 19  daily_steps               91671 non-null   float64
 20  calorie_intake            100000 non-null  float64
 21  sugar_intake              100000 non-null  float64
 22  alcohol_consumption       57613 non-null   object
 23  smoking_level             100000 non-null  object
 24  water_intake              100000 non-null  float64
 25  screen_time               100000 non-null  float64
 26  stress_level              100000 non-null  int64
 27  mental_health_score       100000 non-null  int64
 28  mental_health_support     100000 non-null  object
 29  education_level           100000 non-null  object
 30  job_type                  100000 non-null  object
 31  occupation                100000 non-null  object
 32  income                    91530 non-null   float64
 33  diet_type                 100000 non-null  object
 34  exercise_type             75031 non-null   object
 35  device_usage              100000 non-null  object
 36  healthcare_access         100000 non-null  object
 37  insurance                 100000 non-null  object
 38  sunlight_exposure         100000 non-null  object
 39  meals_per_day             100000 non-null  int64
 40  caffeine_intake           66739 non-null   object
 41  family_history            100000 non-null  object
 42  pet_owner                 100000 non-null  object
 43  electrolyte_level         100000 non-null  int64
 44  gene_marker_flag          89526 non-null   float64
 45  environmental_risk_score  100000 non-null  float64
 46  daily_supplement_dosage   100000 non-null  float64
 47  target                    100000 non-null  object
dtypes: float64(24), int64(6), object(18)
memory usage: 36.6+ MB

In [329]:
data.describe()

,survey_code,age,height,weight,bmi,bmi_estimated,bmi_scaled,bmi_corrected,waist_size,blood_pressure,...,water_intake,screen_time,stress_level,mental_health_score,income,meals_per_day,electrolyte_level,gene_marker_flag,environmental_risk_score,daily_supplement_dosage
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,92331.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,91530.000000,100000.000000,100000.0,89526.0,100000.0,100000.000000
mean,50000.500000,48.525990,170.023707,70.064862,24.493876,24.493876,73.481627,24.494140,84.933043,119.980149,...,2.006373,6.021525,4.991600,5.004680,4038.127284,2.998720,0.0,1.0,5.5,0.015726
std,28867.657797,17.886768,9.982798,14.693667,5.951069,5.951069,17.853206,5.954184,12.040314,15.015503,...,0.688868,2.933835,3.154997,3.164228,1930.025678,1.414786,0.0,0.0,0.0,5.764489
min,1.000000,18.000000,140.000000,40.000000,9.988495,9.988495,29.965484,9.893845,34.093185,59.128168,...,0.500000,0.000000,0.000000,0.000000,500.000000,1.000000,0.0,1.0,5.5,-9.999895
25%,25000.750000,33.000000,163.306615,59.856938,20.271405,20.271405,60.814215,20.271059,76.795185,109.812060,...,1.532011,3.971318,2.000000,2.000000,2665.402843,2.000000,0.0,1.0,5.5,-4.980501
50%,50000.500000,48.000000,170.016778,69.924141,24.156734,24.156734,72.470201,24.151699,84.957139,119.951794,...,2.000659,5.991171,5.000000,5.000000,4004.601345,3.000000,0.0,1.0,5.5,0.015589
75%,75000.250000,64.000000,176.728920,80.027418,28.258696,28.258696,84.776088,28.247648,93.018713,130.120621,...,2.473047,8.024470,8.000000,8.000000,5360.012694,4.000000,0.0,1.0,5.5,5.008424
max,100000.000000,79.000000,210.000000,139.250894,59.234792,59.234792,177.704377,59.142646,133.153631,184.439195,...,5.000000,16.000000,10.000000,10.000000,12029.409353,5.000000,0.0,1.0,5.5,9.999966

In [330]:
data.describe(include='O') # includes objects

,gender,sleep_quality,alcohol_consumption,smoking_level,mental_health_support,education_level,job_type,occupation,diet_type,exercise_type,device_usage,healthcare_access,insurance,sunlight_exposure,caffeine_intake,family_history,pet_owner,target
count,100000,100000,57613,100000,100000,100000,100000,100000,100000,75031,100000,100000,100000,100000,66739,100000,100000,100000
unique,2,4,2,3,2,4,6,6,4,3,3,3,2,3,2,2,2,2
top,Male,Good,Occasionally,Light,No,Bachelor,Labor,Doctor,Vegan,Strength,High,Good,Yes,Low,Moderate,Yes,No,healthy
freq,50132,25147,28831,33437,50104,25363,16777,16927,25122,25265,33562,33428,50121,33468,33371,50055,50153,70097

In [331]:
# checking for missing values

data.isnull()

,survey_code,age,gender,height,weight,bmi,bmi_estimated,bmi_scaled,bmi_corrected,waist_size,...,sunlight_exposure,meals_per_day,caffeine_intake,family_history,pet_owner,electrolyte_level,gene_marker_flag,environmental_risk_score,daily_supplement_dosage,target
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99996,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
99997,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
99998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [332]:
data.isnull().sum()

survey_code                     0
age                             0
gender                          0
height                          0
weight                          0
bmi                             0
bmi_estimated                   0
bmi_scaled                      0
bmi_corrected                   0
waist_size                      0
blood_pressure               7669
heart_rate                  14003
cholesterol                     0
glucose                         0
insulin                     15836
sleep_hours                     0
sleep_quality                   0
work_hours                      0
physical_activity               0
daily_steps                  8329
calorie_intake                  0
sugar_intake                    0
alcohol_consumption         42387
smoking_level                   0
water_intake                    0
screen_time                     0
stress_level                    0
mental_health_score             0
mental_health_support           0
education_level                 0
job_type                        0
occupation                      0
income                       8470
diet_type                       0
exercise_type               24969
device_usage                    0
healthcare_access               0
insurance                       0
sunlight_exposure               0
meals_per_day                   0
caffeine_intake             33261
family_history                  0
pet_owner                       0
electrolyte_level               0
gene_marker_flag            10474
environmental_risk_score        0
daily_supplement_dosage         0
target                          0
dtype: int64

In [333]:
data.isna().sum()

survey_code                     0
age                             0
gender                          0
height                          0
weight                          0
bmi                             0
bmi_estimated                   0
bmi_scaled                      0
bmi_corrected                   0
waist_size                      0
blood_pressure               7669
heart_rate                  14003
cholesterol                     0
glucose                         0
insulin                     15836
sleep_hours                     0
sleep_quality                   0
work_hours                      0
physical_activity               0
daily_steps                  8329
calorie_intake                  0
sugar_intake                    0
alcohol_consumption         42387
smoking_level                   0
water_intake                    0
screen_time                     0
stress_level                    0
mental_health_score             0
mental_health_support           0
education_level                 0
job_type                        0
occupation                      0
income                       8470
diet_type                       0
exercise_type               24969
device_usage                    0
healthcare_access               0
insurance                       0
sunlight_exposure               0
meals_per_day                   0
caffeine_intake             33261
family_history                  0
pet_owner                       0
electrolyte_level               0
gene_marker_flag            10474
environmental_risk_score        0
daily_supplement_dosage         0
target                          0
dtype: int64

In [334]:
data.drop_duplicates(inplace=True)

In [335]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   survey_code               100000 non-null  int64
 1   age                       100000 non-null  int64
 2   gender                    100000 non-null  object
 3   height                    100000 non-null  float64
 4   weight                    100000 non-null  float64
 5   bmi                       100000 non-null  float64
 6   bmi_estimated             100000 non-null  float64
 7   bmi_scaled                100000 non-null  float64
 8   bmi_corrected             100000 non-null  float64
 9   waist_size                100000 non-null  float64
 10  blood_pressure            92331 non-null   float64
 11  heart_rate                85997 non-null   float64
 12  cholesterol               100000 non-null  float64
 13  glucose                   100000 non-null  float64
 14  insulin                   84164 non-null   float64
 15  sleep_hours               100000 non-null  float64
 16  sleep_quality             100000 non-null  object
 17  work_hours                100000 non-null  float64
 18  physical_activity         100000 non-null  float64
 19  daily_steps               91671 non-null   float64
 20  calorie_intake            100000 non-null  float64
 21  sugar_intake              100000 non-null  float64
 22  alcohol_consumption       57613 non-null   object
 23  smoking_level             100000 non-null  object
 24  water_intake              100000 non-null  float64
 25  screen_time               100000 non-null  float64
 26  stress_level              100000 non-null  int64
 27  mental_health_score       100000 non-null  int64
 28  mental_health_support     100000 non-null  object
 29  education_level           100000 non-null  object
 30  job_type                  100000 non-null  object
 31  occupation                100000 non-null  object
 32  income                    91530 non-null   float64
 33  diet_type                 100000 non-null  object
 34  exercise_type             75031 non-null   object
 35  device_usage              100000 non-null  object
 36  healthcare_access         100000 non-null  object
 37  insurance                 100000 non-null  object
 38  sunlight_exposure         100000 non-null  object
 39  meals_per_day             100000 non-null  int64
 40  caffeine_intake           66739 non-null   object
 41  family_history            100000 non-null  object
 42  pet_owner                 100000 non-null  object
 43  electrolyte_level         100000 non-null  int64
 44  gene_marker_flag          89526 non-null   float64
 45  environmental_risk_score  100000 non-null  float64
 46  daily_supplement_dosage   100000 non-null  float64
 47  target                    100000 non-null  object
dtypes: float64(24), int64(6), object(18)
memory usage: 36.6+ MB

In [336]:
data_prepared_columns = data.drop(['survey_code', 'bmi', 'bmi_estimated', 'bmi_scaled', 'occupation', 'healthcare_access', 'insurance', 'family_history', 'gene_marker_flag', 'environmental_risk_score', 'daily_supplement_dosage'], axis=1)

In [337]:
print(data_prepared_columns.columns)

Index(['age', 'gender', 'height', 'weight', 'bmi_corrected', 'waist_size',
       'blood_pressure', 'heart_rate', 'cholesterol', 'glucose', 'insulin',
       'sleep_hours', 'sleep_quality', 'work_hours', 'physical_activity',
       'daily_steps', 'calorie_intake', 'sugar_intake', 'alcohol_consumption',
       'smoking_level', 'water_intake', 'screen_time', 'stress_level',
       'mental_health_score', 'mental_health_support', 'education_level',
       'job_type', 'income', 'diet_type', 'exercise_type', 'device_usage',
       'sunlight_exposure', 'meals_per_day', 'caffeine_intake', 'pet_owner',
       'electrolyte_level', 'target'],
      dtype='object')

In [338]:
data_prepared_columns

,age,gender,height,weight,bmi_corrected,waist_size,blood_pressure,heart_rate,cholesterol,glucose,...,income,diet_type,exercise_type,device_usage,sunlight_exposure,meals_per_day,caffeine_intake,pet_owner,electrolyte_level,target
0,56,Male,173.416872,56.886640,18.989117,72.165130,118.264254,60.749825,214.580523,103.008176,...,6759.821719,Vegan,Strength,High,High,5,Moderate,Yes,0,healthy
1,69,Female,163.207380,97.799859,36.511417,85.598889,117.917986,66.463696,115.794002,116.905134,...,6240.517690,Vegan,Cardio,Moderate,High,5,High,No,0,healthy
2,46,Male,177.281966,80.687562,25.587429,90.295030,123.073698,76.043212,138.134787,89.180302,...,3429.179266,Vegan,Cardio,High,High,4,Moderate,No,0,healthy
3,32,Female,172.101255,63.142868,21.177109,100.504211,148.173453,68.781981,203.017447,128.375798,...,2618.503534,Vegetarian,Mixed,Low,High,1,NaN,Yes,0,healthy
4,60,Female,163.608816,40.000000,14.844299,69.021150,150.613181,92.335358,200.412439,94.813332,...,3662.086276,Vegan,NaN,Low,High,1,High,Yes,0,healthy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,53,Male,177.202253,54.303671,17.227616,88.740028,135.090834,75.338212,192.581246,130.804751,...,5694.274196,Vegetarian,NaN,Moderate,Moderate,1,High,Yes,0,healthy
99996,22,Male,180.802297,40.033853,12.159473,103.659560,135.181795,56.334527,216.103598,131.181871,...,5953.298400,Keto,Cardio,High,Moderate,5,NaN,No,0,healthy
99997,37,Male,185.540653,84.536847,24.172944,98.920422,146.504768,74.864059,178.481690,84.087533,...,4374.490944,Keto,Mixed,Low,Low,5,NaN,No,0,healthy
99998,72,Female,181.796786,56.923335,17.715475,54.559079,100.986759,64.719997,158.981418,83.094321,...,4567.470213,Vegetarian,Strength,Low,Low,4,High,Yes,0,healthy
99999,37,Male,175.716378,93.017286,30.254072,70.743851,95.728717,NaN,211.742356,82.268003,...,1745.477124,Omnivore,Strength,Low,High,4,Moderate,No,0,diseased

In [339]:
print(data_prepared_columns.columns)

Index(['age', 'gender', 'height', 'weight', 'bmi_corrected', 'waist_size',
       'blood_pressure', 'heart_rate', 'cholesterol', 'glucose', 'insulin',
       'sleep_hours', 'sleep_quality', 'work_hours', 'physical_activity',
       'daily_steps', 'calorie_intake', 'sugar_intake', 'alcohol_consumption',
       'smoking_level', 'water_intake', 'screen_time', 'stress_level',
       'mental_health_score', 'mental_health_support', 'education_level',
       'job_type', 'income', 'diet_type', 'exercise_type', 'device_usage',
       'sunlight_exposure', 'meals_per_day', 'caffeine_intake', 'pet_owner',
       'electrolyte_level', 'target'],
      dtype='object')

In [340]:
#height rounded
data_prepared_columns['height'] = data_prepared_columns['height'].round(2)
#weight rounded
data_prepared_columns['weight'] = data_prepared_columns['weight'].round(2)
#bmi_corrected rounded
data_prepared_columns['bmi_corrected'] = data_prepared_columns['bmi_corrected'].round(2)
#waist_size rounded
data_prepared_columns['waist_size'] = data_prepared_columns['waist_size'].round(2)
#blood_pressure rounded
data_prepared_columns['blood_pressure'] = data_prepared_columns['blood_pressure'].round(2)
#heart rate rounded
data_prepared_columns['heart_rate'] = data_prepared_columns['heart_rate'].round(2)
#cholesterol rounded
data_prepared_columns['cholesterol'] = data_prepared_columns['cholesterol'].round(2)
#insulin rounded
data_prepared_columns['insulin'] = data_prepared_columns['insulin'].round(2)
#glucose rounded
data_prepared_columns['glucose'] = data_prepared_columns['glucose'].round(2)
#sleep_hours rounded
data_prepared_columns['sleep_hours'] = data_prepared_columns['sleep_hours'].round(2)
#work_hours rounded
data_prepared_columns['work_hours'] = data_prepared_columns['work_hours'].round(2)
#physical_activity rounded
data_prepared_columns['physical_activity'] = data_prepared_columns['physical_activity'].round(2)
#daily_steps rounded
data_prepared_columns['daily_steps'] = data_prepared_columns['daily_steps'].round(2)
#calorie_intake rounded
data_prepared_columns['calorie_intake'] = data_prepared_columns['calorie_intake'].round(2)
#sugar_intake rounded
data_prepared_columns['sugar_intake'] = data_prepared_columns['sugar_intake'].round(2)
#water_intake rounded
data_prepared_columns['water_intake'] = data_prepared_columns['water_intake'].round(2)
#screen_time rounded
data_prepared_columns['screen_time'] = data_prepared_columns['screen_time'].round(2)
#income rounded
data_prepared_columns['income'] = data_prepared_columns['income'].round(0).astype('Int64')

In [341]:
# Funktion zum Umrechnen
def float_to_time_str(hours):
    h = int(hours)
    m = round((hours - h) * 60)
    return f"{h:02d}:{m:02d}"

# Neue Spalte mit formatierten Zeiten
#data_prepared_columns['sleep_hours'] = data_prepared_columns['sleep_hours'].apply(float_to_time_str)
data_prepared_columns['work_hours'] = data_prepared_columns['work_hours'].apply(float_to_time_str)
data_prepared_columns['screen_time'] = data_prepared_columns['screen_time'].apply(float_to_time_str)

In [342]:
data_prepared_columns.to_csv('data/data_prepared_columns.csv', index=False)

In [343]:
#Data checking
# data_prepared_columns['screen_time']

In [344]:
data_prepared_columns

,age,gender,height,weight,bmi_corrected,waist_size,blood_pressure,heart_rate,cholesterol,glucose,...,income,diet_type,exercise_type,device_usage,sunlight_exposure,meals_per_day,caffeine_intake,pet_owner,electrolyte_level,target
0,56,Male,173.42,56.89,18.99,72.17,118.26,60.75,214.58,103.01,...,6760,Vegan,Strength,High,High,5,Moderate,Yes,0,healthy
1,69,Female,163.21,97.80,36.51,85.60,117.92,66.46,115.79,116.91,...,6241,Vegan,Cardio,Moderate,High,5,High,No,0,healthy
2,46,Male,177.28,80.69,25.59,90.30,123.07,76.04,138.13,89.18,...,3429,Vegan,Cardio,High,High,4,Moderate,No,0,healthy
3,32,Female,172.10,63.14,21.18,100.50,148.17,68.78,203.02,128.38,...,2619,Vegetarian,Mixed,Low,High,1,NaN,Yes,0,healthy
4,60,Female,163.61,40.00,14.84,69.02,150.61,92.34,200.41,94.81,...,3662,Vegan,NaN,Low,High,1,High,Yes,0,healthy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,53,Male,177.20,54.30,17.23,88.74,135.09,75.34,192.58,130.80,...,5694,Vegetarian,NaN,Moderate,Moderate,1,High,Yes,0,healthy
99996,22,Male,180.80,40.03,12.16,103.66,135.18,56.33,216.10,131.18,...,5953,Keto,Cardio,High,Moderate,5,NaN,No,0,healthy
99997,37,Male,185.54,84.54,24.17,98.92,146.50,74.86,178.48,84.09,...,4374,Keto,Mixed,Low,Low,5,NaN,No,0,healthy
99998,72,Female,181.80,56.92,17.72,54.56,100.99,64.72,158.98,83.09,...,4567,Vegetarian,Strength,Low,Low,4,High,Yes,0,healthy
99999,37,Male,175.72,93.02,30.25,70.74,95.73,NaN,211.74,82.27,...,1745,Omnivore,Strength,Low,High,4,Moderate,No,0,diseased

In [345]:
#Group by gender

data_gender_female = data_prepared_columns[data_prepared_columns['gender'] == 'Female']
data_gender_male = data_prepared_columns[data_prepared_columns['gender'] == 'Male']

In [346]:
data_gender_male

,age,gender,height,weight,bmi_corrected,waist_size,blood_pressure,heart_rate,cholesterol,glucose,...,income,diet_type,exercise_type,device_usage,sunlight_exposure,meals_per_day,caffeine_intake,pet_owner,electrolyte_level,target
0,56,Male,173.42,56.89,18.99,72.17,118.26,60.75,214.58,103.01,...,6760,Vegan,Strength,High,High,5,Moderate,Yes,0,healthy
2,46,Male,177.28,80.69,25.59,90.30,123.07,76.04,138.13,89.18,...,3429,Vegan,Cardio,High,High,4,Moderate,No,0,healthy
5,25,Male,186.79,55.28,16.09,86.59,118.72,51.97,165.66,99.50,...,3667,Vegetarian,NaN,Low,High,4,NaN,Yes,0,healthy
9,75,Male,151.31,65.97,29.09,94.29,121.76,90.47,192.11,130.68,...,4473,Omnivore,Strength,High,High,1,High,No,0,healthy
10,36,Male,154.02,72.90,30.81,71.86,111.87,66.92,179.72,138.63,...,2170,Omnivore,Strength,High,Low,2,High,Yes,0,healthy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,41,Male,155.40,57.36,24.03,77.11,113.38,74.05,175.69,56.35,...,2419,Keto,Mixed,High,Low,4,High,Yes,0,healthy
99995,53,Male,177.20,54.30,17.23,88.74,135.09,75.34,192.58,130.80,...,5694,Vegetarian,NaN,Moderate,Moderate,1,High,Yes,0,healthy
99996,22,Male,180.80,40.03,12.16,103.66,135.18,56.33,216.10,131.18,...,5953,Keto,Cardio,High,Moderate,5,NaN,No,0,healthy
99997,37,Male,185.54,84.54,24.17,98.92,146.50,74.86,178.48,84.09,...,4374,Keto,Mixed,Low,Low,5,NaN,No,0,healthy
99999,37,Male,175.72,93.02,30.25,70.74,95.73,NaN,211.74,82.27,...,1745,Omnivore,Strength,Low,High,4,Moderate,No,0,diseased

In [347]:
#exclude 18-22 and 65-79?
#1: 23-30
#2: 31-40
#3: 41-50
#4: 51-65

#Create new column with age group
bins = [20, 35, 50, 65]
labels = ['Young Adult', 'Adult', 'Senior']


# Neue Spalte 'age_group' hinzufügen
data_gender_female['age_group'] = pd.cut(data_gender_female['age'], bins=bins, labels=labels)
data_gender_male['age_group'] = pd.cut(data_gender_male['age'], bins=bins, labels=labels)

C:\Users\Graceffa\AppData\Local\Temp\ipykernel_16608\2145275785.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gender_female['age_group'] = pd.cut(data_gender_female['age'], bins=bins, labels=labels)
C:\Users\Graceffa\AppData\Local\Temp\ipykernel_16608\2145275785.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gender_male['age_group'] = pd.cut(data_gender_male['age'], bins=bins, labels=labels)

In [348]:
data_gender_female

,age,gender,height,weight,bmi_corrected,waist_size,blood_pressure,heart_rate,cholesterol,glucose,...,diet_type,exercise_type,device_usage,sunlight_exposure,meals_per_day,caffeine_intake,pet_owner,electrolyte_level,target,age_group
1,69,Female,163.21,97.80,36.51,85.60,117.92,66.46,115.79,116.91,...,Vegan,Cardio,Moderate,High,5,High,No,0,healthy,NaN
3,32,Female,172.10,63.14,21.18,100.50,148.17,68.78,203.02,128.38,...,Vegetarian,Mixed,Low,High,1,NaN,Yes,0,healthy,Young Adult
4,60,Female,163.61,40.00,14.84,69.02,150.61,92.34,200.41,94.81,...,Vegan,NaN,Low,High,1,High,Yes,0,healthy,Senior
6,78,Female,166.16,65.04,23.45,67.84,102.14,70.47,245.80,91.82,...,Vegetarian,Strength,Moderate,High,2,NaN,No,0,healthy,NaN
7,38,Female,163.78,47.76,17.65,73.07,136.79,65.79,157.52,106.47,...,Omnivore,Strength,High,Low,3,Moderate,Yes,0,healthy,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99984,58,Female,167.43,67.88,24.28,82.67,125.45,NaN,227.14,78.86,...,Keto,NaN,High,High,5,High,No,0,diseased,Senior
99987,37,Female,162.51,64.96,24.48,76.83,100.50,75.93,249.97,103.09,...,Keto,Strength,Low,Low,1,Moderate,Yes,0,healthy,Adult
99989,24,Female,178.19,79.02,25.09,103.81,106.95,78.24,235.86,149.86,...,Keto,Cardio,Low,High,5,Moderate,No,0,healthy,Young Adult
99992,44,Female,163.83,71.73,26.83,72.76,108.79,92.12,217.98,99.72,...,Omnivore,NaN,High,High,1,NaN,No,0,healthy,Adult
99998,72,Female,181.80,56.92,17.72,54.56,100.99,64.72,158.98,83.09,...,Vegetarian,Strength,Low,Low,4,High,Yes,0,healthy,NaN

In [349]:
#Sort age group after "age"
cols = list(data_gender_female.columns)
cols.insert(1, cols.pop(cols.index('age_group')))
data_gender_female = data_gender_female[cols]

In [350]:
#Sort age group after "age"
cols = list(data_gender_male.columns)
cols.insert(1, cols.pop(cols.index('age_group')))
data_gender_male = data_gender_male[cols]

In [351]:
#delete all NaN values
data_gender_female_corrected = data_gender_female.dropna(subset=['age_group'])
data_gender_male_corrected = data_gender_male.dropna(subset=['age_group'])

In [352]:
data_gender_male_corrected

,age,age_group,gender,height,weight,bmi_corrected,waist_size,blood_pressure,heart_rate,cholesterol,...,income,diet_type,exercise_type,device_usage,sunlight_exposure,meals_per_day,caffeine_intake,pet_owner,electrolyte_level,target
0,56,Senior,Male,173.42,56.89,18.99,72.17,118.26,60.75,214.58,...,6760,Vegan,Strength,High,High,5,Moderate,Yes,0,healthy
2,46,Adult,Male,177.28,80.69,25.59,90.30,123.07,76.04,138.13,...,3429,Vegan,Cardio,High,High,4,Moderate,No,0,healthy
5,25,Young Adult,Male,186.79,55.28,16.09,86.59,118.72,51.97,165.66,...,3667,Vegetarian,NaN,Low,High,4,NaN,Yes,0,healthy
10,36,Adult,Male,154.02,72.90,30.81,71.86,111.87,66.92,179.72,...,2170,Omnivore,Strength,High,Low,2,High,Yes,0,healthy
12,28,Young Adult,Male,170.45,90.65,31.23,73.27,130.44,84.10,217.81,...,3739,Omnivore,Strength,Moderate,High,2,High,Yes,0,healthy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,41,Adult,Male,155.40,57.36,24.03,77.11,113.38,74.05,175.69,...,2419,Keto,Mixed,High,Low,4,High,Yes,0,healthy
99995,53,Senior,Male,177.20,54.30,17.23,88.74,135.09,75.34,192.58,...,5694,Vegetarian,NaN,Moderate,Moderate,1,High,Yes,0,healthy
99996,22,Young Adult,Male,180.80,40.03,12.16,103.66,135.18,56.33,216.10,...,5953,Keto,Cardio,High,Moderate,5,NaN,No,0,healthy
99997,37,Adult,Male,185.54,84.54,24.17,98.92,146.50,74.86,178.48,...,4374,Keto,Mixed,Low,Low,5,NaN,No,0,healthy
99999,37,Adult,Male,175.72,93.02,30.25,70.74,95.73,NaN,211.74,...,1745,Omnivore,Strength,Low,High,4,Moderate,No,0,diseased

In [353]:
data_gender_female_corrected = data_gender_female_corrected.drop(['daily_steps', 'caffeine_intake'], axis=1)
data_gender_male_corrected = data_gender_male_corrected.drop(['daily_steps', 'caffeine_intake'], axis=1)

In [354]:
data_gender_female_corrected.isna().sum()

age                          0
age_group                    0
gender                       0
height                       0
weight                       0
bmi_corrected                0
waist_size                   0
blood_pressure            2770
heart_rate                4996
cholesterol                  0
glucose                      0
insulin                   5726
sleep_hours                  0
sleep_quality                0
work_hours                   0
physical_activity            0
calorie_intake               0
sugar_intake                 0
alcohol_consumption      15271
smoking_level                0
water_intake                 0
screen_time                  0
stress_level                 0
mental_health_score          0
mental_health_support        0
education_level              0
job_type                     0
income                    3051
diet_type                    0
exercise_type             9080
device_usage                 0
sunlight_exposure            0
meals_per_day                0
pet_owner                    0
electrolyte_level            0
target                       0
dtype: int64

In [355]:
#delete all NaN values
data_gender_female_corrected = data_gender_female_corrected.dropna(subset=['age_group'])
data_gender_male_corrected = data_gender_male_corrected.dropna(subset=['age_group'])

In [356]:
data_gender_female_corrected.to_csv('data/data_gender_female.csv', index=False)
data_gender_male_corrected.to_csv('data/data_gender_male.csv', index=False)

In [357]:
data_gender_female_corrected.isna().sum()

age                          0
age_group                    0
gender                       0
height                       0
weight                       0
bmi_corrected                0
waist_size                   0
blood_pressure            2770
heart_rate                4996
cholesterol                  0
glucose                      0
insulin                   5726
sleep_hours                  0
sleep_quality                0
work_hours                   0
physical_activity            0
calorie_intake               0
sugar_intake                 0
alcohol_consumption      15271
smoking_level                0
water_intake                 0
screen_time                  0
stress_level                 0
mental_health_score          0
mental_health_support        0
education_level              0
job_type                     0
income                    3051
diet_type                    0
exercise_type             9080
device_usage                 0
sunlight_exposure            0
meals_per_day                0
pet_owner                    0
electrolyte_level            0
target                       0
dtype: int64

In [358]:
data_gender_male_corrected.isna().sum()

age                          0
age_group                    0
gender                       0
height                       0
weight                       0
bmi_corrected                0
waist_size                   0
blood_pressure            2779
heart_rate                5149
cholesterol                  0
glucose                      0
insulin                   5709
sleep_hours                  0
sleep_quality                0
work_hours                   0
physical_activity            0
calorie_intake               0
sugar_intake                 0
alcohol_consumption      15525
smoking_level                0
water_intake                 0
screen_time                  0
stress_level                 0
mental_health_score          0
mental_health_support        0
education_level              0
job_type                     0
income                    3030
diet_type                    0
exercise_type             8977
device_usage                 0
sunlight_exposure            0
meals_per_day                0
pet_owner                    0
electrolyte_level            0
target                       0
dtype: int64