In [98]:
import pandas as pd
import numpy as np

In [99]:
data = pd.read_csv("data/sleephealthlifestyle/sleep_health_and_lifestyle_dataset.csv")

In [100]:
data

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

## 1. inspecting a dataframe

In [101]:
data.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [103]:
data.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [104]:
data.describe(include='O') # includes objects

       Gender Occupation BMI Category Blood Pressure Sleep Disorder
count     374        374          374            374            155
unique      2         11            4             25              2
top      Male      Nurse       Normal         130/85    Sleep Apnea
freq      189         73          195             99             78

In [105]:
# checking for missing values

data.isnull()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,False,False,False,False,False,False,False,False,False,False,False,False,False
370,False,False,False,False,False,False,False,False,False,False,False,False,False
371,False,False,False,False,False,False,False,False,False,False,False,False,False
372,False,False,False,False,False,False,False,False,False,False,False,False,False
373,False,False,False,False,False,False,False,False,False,False,False,False,False

In [106]:
data.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [107]:
data.drop_duplicates(inplace=True)

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [109]:
data_prepared_columns = data.drop(['Person ID'], axis=1)

In [110]:
print(data_prepared_columns.columns)

Index(['Gender', 'Age', 'Occupation', 'Sleep Duration', 'Quality of Sleep',
       'Physical Activity Level', 'Stress Level', 'BMI Category',
       'Blood Pressure', 'Heart Rate', 'Daily Steps', 'Sleep Disorder'],
      dtype='object')

In [111]:
data_prepared_columns

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...
369,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [112]:
print(data_prepared_columns.columns)

Index(['Gender', 'Age', 'Occupation', 'Sleep Duration', 'Quality of Sleep',
       'Physical Activity Level', 'Stress Level', 'BMI Category',
       'Blood Pressure', 'Heart Rate', 'Daily Steps', 'Sleep Disorder'],
      dtype='object')

In [113]:
# Spalte aufteilen
data_prepared_columns[['Blood Pressure systolic', 'Blood Pressure diastolic']] = data_prepared_columns['Blood Pressure'].str.split('/', expand=True)

# Optional: Werte in Integer umwandeln
data_prepared_columns['Blood Pressure systolic'] = data_prepared_columns['Blood Pressure systolic'].astype(int)
data_prepared_columns['Blood Pressure diastolic'] = data_prepared_columns['Blood Pressure diastolic'].astype(int)

data_prepared_columns

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Blood Pressure systolic,Blood Pressure diastolic
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,126,83
1,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,125,80
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,125,80
3,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
370,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
371,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95

In [114]:
# Schritt 1: Spaltenliste holen
cols = list(data_prepared_columns.columns)

# Schritt 2: Zielspalten entfernen, um sie später wieder einzufügen
cols.remove('Blood Pressure systolic')
cols.remove('Blood Pressure diastolic')

# Schritt 3: Neue Spalten an Position 8 und 9 einfügen
cols.insert(8, 'Blood Pressure systolic')
cols.insert(9, 'Blood Pressure diastolic')

# Schritt 4: DataFrame neu anordnen
data_prepared_columns = data_prepared_columns[cols]

In [115]:
data_prepared_columns

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure systolic,Blood Pressure diastolic,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126,83,126/83,77,4200,NaN
1,Male,28,Doctor,6.2,6,60,8,Normal,125,80,125/80,75,10000,NaN
2,Male,28,Doctor,6.2,6,60,8,Normal,125,80,125/80,75,10000,NaN
3,Male,28,Sales Representative,5.9,4,30,8,Obese,140,90,140/90,85,3000,Sleep Apnea
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140,90,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,140/95,68,7000,Sleep Apnea
370,Female,59,Nurse,8.0,9,75,3,Overweight,140,95,140/95,68,7000,Sleep Apnea
371,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,140/95,68,7000,Sleep Apnea
372,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,140/95,68,7000,Sleep Apnea
373,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,140/95,68,7000,Sleep Apnea

In [116]:
data_prepared_columns = data_prepared_columns.drop(columns=['Blood Pressure'])

In [117]:
data_prepared_columns

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Daily Steps,Sleep Disorder
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126,83,77,4200,NaN
1,Male,28,Doctor,6.2,6,60,8,Normal,125,80,75,10000,NaN
2,Male,28,Doctor,6.2,6,60,8,Normal,125,80,75,10000,NaN
3,Male,28,Sales Representative,5.9,4,30,8,Obese,140,90,85,3000,Sleep Apnea
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140,90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea
370,Female,59,Nurse,8.0,9,75,3,Overweight,140,95,68,7000,Sleep Apnea
371,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea
372,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea
373,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea

In [118]:
data_prepared_columns.isna().sum()

Gender                        0
Age                           0
Occupation                    0
Sleep Duration                0
Quality of Sleep              0
Physical Activity Level       0
Stress Level                  0
BMI Category                  0
Blood Pressure systolic       0
Blood Pressure diastolic      0
Heart Rate                    0
Daily Steps                   0
Sleep Disorder              219
dtype: int64

In [119]:
data_prepared_columns = data_prepared_columns.fillna('')

In [120]:
data_prepared_columns.isna().sum()

Gender                      0
Age                         0
Occupation                  0
Sleep Duration              0
Quality of Sleep            0
Physical Activity Level     0
Stress Level                0
BMI Category                0
Blood Pressure systolic     0
Blood Pressure diastolic    0
Heart Rate                  0
Daily Steps                 0
Sleep Disorder              0
dtype: int64

In [121]:
data_prepared_columns.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Daily Steps,Sleep Disorder
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126,83,77,4200,
1,Male,28,Doctor,6.2,6,60,8,Normal,125,80,75,10000,
2,Male,28,Doctor,6.2,6,60,8,Normal,125,80,75,10000,
3,Male,28,Sales Representative,5.9,4,30,8,Obese,140,90,85,3000,Sleep Apnea
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140,90,85,3000,Sleep Apnea

In [122]:
data_prepared_columns.describe()

,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,42.184492,7.132086,7.312834,59.171123,5.385027,128.553476,84.649733,70.165775,6816.844920
std,8.673133,0.795657,1.196956,20.830804,1.774526,7.748118,6.161611,4.135676,1617.915679
min,27.000000,5.800000,4.000000,30.000000,3.000000,115.000000,75.000000,65.000000,3000.000000
25%,35.250000,6.400000,6.000000,45.000000,4.000000,125.000000,80.000000,68.000000,5600.000000
50%,43.000000,7.200000,7.000000,60.000000,5.000000,130.000000,85.000000,70.000000,7000.000000
75%,50.000000,7.800000,8.000000,75.000000,7.000000,135.000000,90.000000,72.000000,8000.000000
max,59.000000,8.500000,9.000000,90.000000,8.000000,142.000000,95.000000,86.000000,10000.000000

In [123]:
data_gender_female = data_prepared_columns[data_prepared_columns['Gender'] == 'Female']
data_gender_male = data_prepared_columns[data_prepared_columns['Gender'] == 'Male']

In [124]:
data_gender_male

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Daily Steps,Sleep Disorder
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126,83,77,4200,
1,Male,28,Doctor,6.2,6,60,8,Normal,125,80,75,10000,
2,Male,28,Doctor,6.2,6,60,8,Normal,125,80,75,10000,
3,Male,28,Sales Representative,5.9,4,30,8,Obese,140,90,85,3000,Sleep Apnea
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140,90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,Male,44,Salesperson,6.5,6,45,7,Overweight,130,85,72,6000,
264,Male,48,Doctor,7.3,7,65,5,Obese,142,92,83,3500,Insomnia
266,Male,48,Doctor,7.3,7,65,5,Obese,142,92,83,3500,Insomnia
276,Male,49,Doctor,8.1,9,85,3,Obese,139,91,86,3700,Sleep Apnea
277,Male,49,Doctor,8.1,9,85,3,Obese,139,91,86,3700,Sleep Apnea

In [125]:
#exclude 18-22 and 65-79?
#1: 23-30
#2: 31-40
#3: 41-50
#4: 51-65

#Create new column with age group
bins = [20, 35, 50, 65]
labels = ['Young Adult', 'Adult', 'Senior']


# Neue Spalte 'age_group' hinzufügen
data_gender_female['Age_group'] = pd.cut(data_gender_female['Age'], bins=bins, labels=labels)
data_gender_male['Age_group'] = pd.cut(data_gender_male['Age'], bins=bins, labels=labels)

C:\Users\Graceffa\AppData\Local\Temp\ipykernel_25648\1636006442.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gender_female['Age_group'] = pd.cut(data_gender_female['Age'], bins=bins, labels=labels)
C:\Users\Graceffa\AppData\Local\Temp\ipykernel_25648\1636006442.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gender_male['Age_group'] = pd.cut(data_gender_male['Age'], bins=bins, labels=labels)

In [126]:
data_gender_female

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Daily Steps,Sleep Disorder,Age_group
16,Female,29,Nurse,6.5,5,40,7,Normal Weight,132,87,80,4000,Sleep Apnea,Young Adult
18,Female,29,Nurse,6.5,5,40,7,Normal Weight,132,87,80,4000,Insomnia,Young Adult
30,Female,30,Nurse,6.4,5,35,7,Normal Weight,130,86,78,4100,Sleep Apnea,Young Adult
31,Female,30,Nurse,6.4,5,35,7,Normal Weight,130,86,78,4100,Insomnia,Young Adult
32,Female,31,Nurse,7.9,8,75,4,Normal Weight,117,76,69,6800,,Young Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea,Senior
370,Female,59,Nurse,8.0,9,75,3,Overweight,140,95,68,7000,Sleep Apnea,Senior
371,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea,Senior
372,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea,Senior
373,Female,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea,Senior

In [127]:
#Sort age group after "age"
cols = list(data_gender_female.columns)
cols.insert(1, cols.pop(cols.index('Age_group')))
data_gender_female = data_gender_female[cols]

In [128]:
#Sort age group after "age"
cols = list(data_gender_male.columns)
cols.insert(1, cols.pop(cols.index('Age_group')))
data_gender_male = data_gender_male[cols]

In [129]:
#delete all NaN values
data_gender_female_corrected = data_gender_female.dropna(subset=['Age_group'])
data_gender_male_corrected = data_gender_male.dropna(subset=['Age_group'])

In [130]:
data_gender_female_corrected['BMI Category'] = data_gender_female_corrected['BMI Category'].replace('Normal', 'Normal Weight')
data_gender_male_corrected['BMI Category'] = data_gender_male_corrected['BMI Category'].replace('Normal', 'Normal Weight')

In [131]:
data_gender_female_corrected

,Gender,Age_group,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Daily Steps,Sleep Disorder
16,Female,Young Adult,29,Nurse,6.5,5,40,7,Normal Weight,132,87,80,4000,Sleep Apnea
18,Female,Young Adult,29,Nurse,6.5,5,40,7,Normal Weight,132,87,80,4000,Insomnia
30,Female,Young Adult,30,Nurse,6.4,5,35,7,Normal Weight,130,86,78,4100,Sleep Apnea
31,Female,Young Adult,30,Nurse,6.4,5,35,7,Normal Weight,130,86,78,4100,Insomnia
32,Female,Young Adult,31,Nurse,7.9,8,75,4,Normal Weight,117,76,69,6800,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,Female,Senior,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea
370,Female,Senior,59,Nurse,8.0,9,75,3,Overweight,140,95,68,7000,Sleep Apnea
371,Female,Senior,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea
372,Female,Senior,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea
373,Female,Senior,59,Nurse,8.1,9,75,3,Overweight,140,95,68,7000,Sleep Apnea

In [132]:
data_gender_female_corrected.isna().sum()

Gender                      0
Age_group                   0
Age                         0
Occupation                  0
Sleep Duration              0
Quality of Sleep            0
Physical Activity Level     0
Stress Level                0
BMI Category                0
Blood Pressure systolic     0
Blood Pressure diastolic    0
Heart Rate                  0
Daily Steps                 0
Sleep Disorder              0
dtype: int64

In [133]:
data_gender_female_corrected.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185 entries, 16 to 373
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Gender                    185 non-null    object
 1   Age_group                 185 non-null    category
 2   Age                       185 non-null    int64
 3   Occupation                185 non-null    object
 4   Sleep Duration            185 non-null    float64
 5   Quality of Sleep          185 non-null    int64
 6   Physical Activity Level   185 non-null    int64
 7   Stress Level              185 non-null    int64
 8   BMI Category              185 non-null    object
 9   Blood Pressure systolic   185 non-null    int64
 10  Blood Pressure diastolic  185 non-null    int64
 11  Heart Rate                185 non-null    int64
 12  Daily Steps               185 non-null    int64
 13  Sleep Disorder            185 non-null    object
dtypes: category(1), float64(1), int64(8), object(4)
memory usage: 20.5+ KB

In [134]:
data_gender_female_corrected.to_csv('data/sleephealthlifestyle/data_gender_female.csv', index=False)
data_gender_male_corrected.to_csv('data/sleephealthlifestyle/data_gender_male.csv', index=False)

In [135]:
combined_df = pd.concat([data_gender_female_corrected, data_gender_male_corrected], ignore_index=True)
combined_df.to_csv('data/sleephealthlifestyle/data_gender_combined.csv', index=False)