In [75]:
import pandas as pd
import numpy as np

In [76]:
df = pd.read_csv("data/socialmediaproductivity/raw_social_media_vs_productivity.csv")

In [77]:
df

,age,gender,job_type,daily_social_media_time,social_platform_preference,number_of_notifications,work_hours_per_day,perceived_productivity_score,actual_productivity_score,stress_level,sleep_hours,screen_time_before_sleep,breaks_during_work,uses_focus_apps,has_digital_wellbeing_enabled,coffee_consumption_per_day,days_feeling_burnout_per_month,weekly_offline_hours,job_satisfaction_score
0,56,Male,Unemployed,4.180940,Facebook,61,6.753558,8.040464,7.291555,4.0,5.116546,0.419102,8,False,False,4,11,21.927072,6.336688
1,46,Male,Health,3.249603,Twitter,59,9.169296,5.063368,5.165093,7.0,5.103897,0.671519,7,True,True,2,25,0.000000,3.412427
2,32,Male,Finance,NaN,Twitter,57,7.910952,3.861762,3.474053,4.0,8.583222,0.624378,0,True,False,3,17,10.322044,2.474944
3,60,Female,Unemployed,NaN,Facebook,59,6.355027,2.916331,1.774869,6.0,6.052984,1.204540,1,False,False,0,4,23.876616,1.733670
4,25,Male,IT,NaN,Telegram,66,6.214096,8.868753,NaN,7.0,5.405706,1.876254,1,False,True,1,30,10.653519,9.693060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,34,Female,Health,1.877297,Facebook,59,10.226358,3.348512,3.465815,8.0,5.480462,1.412655,9,False,False,4,5,21.776927,NaN
29996,39,Male,Health,4.437784,Instagram,46,4.692862,8.133213,6.659294,8.0,3.045393,0.148936,3,False,False,1,29,4.111370,6.155613
29997,42,Male,Education,17.724981,TikTok,64,10.915036,8.611005,8.658912,5.0,5.491520,1.224296,10,False,False,1,2,1.888315,6.285237
29998,20,Female,Education,3.796634,Instagram,56,6.937410,7.767076,6.895583,8.0,6.816069,0.234483,1,False,False,2,9,12.511871,7.854711
29999,44,Male,Unemployed,NaN,Twitter,70,8.069883,6.311227,5.402726,3.0,6.765248,0.993090,5,False,True,1,4,6.324954,7.388790

In [78]:
df.head()

,age,gender,job_type,daily_social_media_time,social_platform_preference,number_of_notifications,work_hours_per_day,perceived_productivity_score,actual_productivity_score,stress_level,sleep_hours,screen_time_before_sleep,breaks_during_work,uses_focus_apps,has_digital_wellbeing_enabled,coffee_consumption_per_day,days_feeling_burnout_per_month,weekly_offline_hours,job_satisfaction_score
0,56,Male,Unemployed,4.180940,Facebook,61,6.753558,8.040464,7.291555,4.0,5.116546,0.419102,8,False,False,4,11,21.927072,6.336688
1,46,Male,Health,3.249603,Twitter,59,9.169296,5.063368,5.165093,7.0,5.103897,0.671519,7,True,True,2,25,0.000000,3.412427
2,32,Male,Finance,NaN,Twitter,57,7.910952,3.861762,3.474053,4.0,8.583222,0.624378,0,True,False,3,17,10.322044,2.474944
3,60,Female,Unemployed,NaN,Facebook,59,6.355027,2.916331,1.774869,6.0,6.052984,1.204540,1,False,False,0,4,23.876616,1.733670
4,25,Male,IT,NaN,Telegram,66,6.214096,8.868753,NaN,7.0,5.405706,1.876254,1,False,True,1,30,10.653519,9.693060

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             30000 non-null  int64
 1   gender                          30000 non-null  object
 2   job_type                        30000 non-null  object
 3   daily_social_media_time         27235 non-null  float64
 4   social_platform_preference      30000 non-null  object
 5   number_of_notifications         30000 non-null  int64
 6   work_hours_per_day              30000 non-null  float64
 7   perceived_productivity_score    28386 non-null  float64
 8   actual_productivity_score       27635 non-null  float64
 9   stress_level                    28096 non-null  float64
 10  sleep_hours                     27402 non-null  float64
 11  screen_time_before_sleep        27789 non-null  float64
 12  breaks_during_work              30000 non-null  int64
 13  uses_focus_apps                 30000 non-null  bool
 14  has_digital_wellbeing_enabled   30000 non-null  bool
 15  coffee_consumption_per_day      30000 non-null  int64
 16  days_feeling_burnout_per_month  30000 non-null  int64
 17  weekly_offline_hours            30000 non-null  float64
 18  job_satisfaction_score          27270 non-null  float64
dtypes: bool(2), float64(9), int64(5), object(3)
memory usage: 3.9+ MB

In [80]:
df.describe()

,age,daily_social_media_time,number_of_notifications,work_hours_per_day,perceived_productivity_score,actual_productivity_score,stress_level,sleep_hours,screen_time_before_sleep,breaks_during_work,coffee_consumption_per_day,days_feeling_burnout_per_month,weekly_offline_hours,job_satisfaction_score
count,30000.000000,27235.000000,30000.000000,30000.000000,28386.000000,27635.000000,28096.000000,27402.000000,27789.000000,30000.000000,30000.000000,30000.000000,30000.000000,27270.000000
mean,41.486867,3.113418,59.958767,6.990792,5.510488,4.951805,5.514059,6.500247,1.025568,4.992200,1.999300,15.557067,10.360655,4.964901
std,13.835221,2.074813,7.723772,1.997736,2.023470,1.883378,2.866344,1.464004,0.653355,3.173737,1.410047,9.252956,7.280415,2.121194
min,18.000000,0.000000,30.000000,0.000000,2.000252,0.296812,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,1.639566,55.000000,5.643771,3.757861,3.373284,3.000000,5.493536,0.528490,2.000000,1.000000,8.000000,4.541872,3.363580
50%,41.000000,3.025913,60.000000,6.990641,5.525005,4.951742,6.000000,6.498340,1.006159,5.000000,2.000000,16.000000,10.013677,4.951049
75%,53.000000,4.368917,65.000000,8.354725,7.265776,6.526342,8.000000,7.504143,1.477221,8.000000,3.000000,24.000000,15.300809,6.581323
max,65.000000,17.973256,90.000000,12.000000,8.999376,9.846258,10.000000,10.000000,3.000000,10.000000,10.000000,31.000000,40.964769,10.000000

In [81]:
df.describe(include='O') # includes objects

       gender   job_type social_platform_preference
count   30000      30000                      30000
unique      3          6                          5
top      Male  Education                     TikTok
freq    14452       5055                       6096

In [82]:
# checking for missing values

df.isnull()

,age,gender,job_type,daily_social_media_time,social_platform_preference,number_of_notifications,work_hours_per_day,perceived_productivity_score,actual_productivity_score,stress_level,sleep_hours,screen_time_before_sleep,breaks_during_work,uses_focus_apps,has_digital_wellbeing_enabled,coffee_consumption_per_day,days_feeling_burnout_per_month,weekly_offline_hours,job_satisfaction_score
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
29996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [83]:
df.isnull().sum()

age                                  0
gender                               0
job_type                             0
daily_social_media_time           2765
social_platform_preference           0
number_of_notifications              0
work_hours_per_day                   0
perceived_productivity_score      1614
actual_productivity_score         2365
stress_level                      1904
sleep_hours                       2598
screen_time_before_sleep          2211
breaks_during_work                   0
uses_focus_apps                      0
has_digital_wellbeing_enabled        0
coffee_consumption_per_day           0
days_feeling_burnout_per_month       0
weekly_offline_hours                 0
job_satisfaction_score            2730
dtype: int64

In [84]:
df.drop_duplicates(inplace=True)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             30000 non-null  int64
 1   gender                          30000 non-null  object
 2   job_type                        30000 non-null  object
 3   daily_social_media_time         27235 non-null  float64
 4   social_platform_preference      30000 non-null  object
 5   number_of_notifications         30000 non-null  int64
 6   work_hours_per_day              30000 non-null  float64
 7   perceived_productivity_score    28386 non-null  float64
 8   actual_productivity_score       27635 non-null  float64
 9   stress_level                    28096 non-null  float64
 10  sleep_hours                     27402 non-null  float64
 11  screen_time_before_sleep        27789 non-null  float64
 12  breaks_during_work              30000 non-null  int64
 13  uses_focus_apps                 30000 non-null  bool
 14  has_digital_wellbeing_enabled   30000 non-null  bool
 15  coffee_consumption_per_day      30000 non-null  int64
 16  days_feeling_burnout_per_month  30000 non-null  int64
 17  weekly_offline_hours            30000 non-null  float64
 18  job_satisfaction_score          27270 non-null  float64
dtypes: bool(2), float64(9), int64(5), object(3)
memory usage: 3.9+ MB

In [86]:
df_prepared_columns = df.drop(['social_platform_preference', 'number_of_notifications', 'perceived_productivity_score', 'actual_productivity_score', 'breaks_during_work', 'uses_focus_apps', 'has_digital_wellbeing_enabled', 'days_feeling_burnout_per_month', 'job_satisfaction_score' ], axis=1)

In [87]:
print(df_prepared_columns.columns)

Index(['age', 'gender', 'job_type', 'daily_social_media_time',
       'work_hours_per_day', 'stress_level', 'sleep_hours',
       'screen_time_before_sleep', 'coffee_consumption_per_day',
       'weekly_offline_hours'],
      dtype='object')

In [88]:
df_prepared_columns

,age,gender,job_type,daily_social_media_time,work_hours_per_day,stress_level,sleep_hours,screen_time_before_sleep,coffee_consumption_per_day,weekly_offline_hours
0,56,Male,Unemployed,4.180940,6.753558,4.0,5.116546,0.419102,4,21.927072
1,46,Male,Health,3.249603,9.169296,7.0,5.103897,0.671519,2,0.000000
2,32,Male,Finance,NaN,7.910952,4.0,8.583222,0.624378,3,10.322044
3,60,Female,Unemployed,NaN,6.355027,6.0,6.052984,1.204540,0,23.876616
4,25,Male,IT,NaN,6.214096,7.0,5.405706,1.876254,1,10.653519
...,...,...,...,...,...,...,...,...,...,...
29995,34,Female,Health,1.877297,10.226358,8.0,5.480462,1.412655,4,21.776927
29996,39,Male,Health,4.437784,4.692862,8.0,3.045393,0.148936,1,4.111370
29997,42,Male,Education,17.724981,10.915036,5.0,5.491520,1.224296,1,1.888315
29998,20,Female,Education,3.796634,6.937410,8.0,6.816069,0.234483,2,12.511871
29999,44,Male,Unemployed,NaN,8.069883,3.0,6.765248,0.993090,1,6.324954

In [89]:
df_prepared_columns.isna().sum()

age                              0
gender                           0
job_type                         0
daily_social_media_time       2765
work_hours_per_day               0
stress_level                  1904
sleep_hours                   2598
screen_time_before_sleep      2211
coffee_consumption_per_day       0
weekly_offline_hours             0
dtype: int64

In [90]:
#droping rows that have null in stress level because with 30.000 rows, 
# we have enough data to delete 1.904 rows
df_prepared_columns = df_prepared_columns.dropna(subset=['stress_level', 'sleep_hours', 'screen_time_before_sleep' , 'daily_social_media_time'])

In [91]:
df_prepared_columns.isna().sum()

age                           0
gender                        0
job_type                      0
daily_social_media_time       0
work_hours_per_day            0
stress_level                  0
sleep_hours                   0
screen_time_before_sleep      0
coffee_consumption_per_day    0
weekly_offline_hours          0
dtype: int64

In [92]:
df_prepared_columns.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21589 entries, 0 to 29998
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         21589 non-null  int64
 1   gender                      21589 non-null  object
 2   job_type                    21589 non-null  object
 3   daily_social_media_time     21589 non-null  float64
 4   work_hours_per_day          21589 non-null  float64
 5   stress_level                21589 non-null  float64
 6   sleep_hours                 21589 non-null  float64
 7   screen_time_before_sleep    21589 non-null  float64
 8   coffee_consumption_per_day  21589 non-null  int64
 9   weekly_offline_hours        21589 non-null  float64
dtypes: float64(6), int64(2), object(2)
memory usage: 1.8+ MB

In [93]:
df_prepared_columns

,age,gender,job_type,daily_social_media_time,work_hours_per_day,stress_level,sleep_hours,screen_time_before_sleep,coffee_consumption_per_day,weekly_offline_hours
0,56,Male,Unemployed,4.180940,6.753558,4.0,5.116546,0.419102,4,21.927072
1,46,Male,Health,3.249603,9.169296,7.0,5.103897,0.671519,2,0.000000
5,38,Male,Finance,1.512568,6.429312,5.0,5.515251,1.518612,5,0.000000
6,56,Female,Unemployed,4.381070,3.902309,7.0,7.549849,2.252624,4,24.084905
7,36,Female,Education,4.089168,6.560467,4.0,6.325507,0.747998,4,8.419648
...,...,...,...,...,...,...,...,...,...,...
29992,44,Female,Unemployed,1.648825,6.547262,9.0,8.803968,0.305591,2,24.743560
29995,34,Female,Health,1.877297,10.226358,8.0,5.480462,1.412655,4,21.776927
29996,39,Male,Health,4.437784,4.692862,8.0,3.045393,0.148936,1,4.111370
29997,42,Male,Education,17.724981,10.915036,5.0,5.491520,1.224296,1,1.888315
29998,20,Female,Education,3.796634,6.937410,8.0,6.816069,0.234483,2,12.511871

In [94]:
df_gender_female = df_prepared_columns[df_prepared_columns['gender'] == 'Female']
df_gender_male = df_prepared_columns[df_prepared_columns['gender'] == 'Male']

In [95]:
df_gender_male

,age,gender,job_type,daily_social_media_time,work_hours_per_day,stress_level,sleep_hours,screen_time_before_sleep,coffee_consumption_per_day,weekly_offline_hours
0,56,Male,Unemployed,4.180940,6.753558,4.0,5.116546,0.419102,4,21.927072
1,46,Male,Health,3.249603,9.169296,7.0,5.103897,0.671519,2,0.000000
5,38,Male,Finance,1.512568,6.429312,5.0,5.515251,1.518612,5,0.000000
10,28,Male,IT,3.341559,11.022035,4.0,3.952547,1.028640,1,13.514515
13,57,Male,Education,0.000000,6.822442,5.0,6.764830,1.341070,4,18.052656
...,...,...,...,...,...,...,...,...,...,...
29988,34,Male,IT,3.562316,7.685305,9.0,5.689819,2.333739,1,3.687407
29990,37,Male,IT,8.379660,7.601374,6.0,4.193481,1.113022,2,2.123587
29991,34,Male,Health,4.780144,6.823827,2.0,6.249892,0.000000,0,17.799750
29996,39,Male,Health,4.437784,4.692862,8.0,3.045393,0.148936,1,4.111370
29997,42,Male,Education,17.724981,10.915036,5.0,5.491520,1.224296,1,1.888315

In [96]:
#exclude 18-22 and 65-79?
#1: 23-30
#2: 31-40
#3: 41-50
#4: 51-65

#Create new column with age group
bins = [20, 35, 50, 65]
labels = ['Young Adult', 'Adult', 'Senior']


# Neue Spalte 'age_group' hinzufügen
df_gender_female['age_group'] = pd.cut(df_gender_female['age'], bins=bins, labels=labels)
df_gender_male['age_group'] = pd.cut(df_gender_male['age'], bins=bins, labels=labels)

C:\Users\Graceffa\AppData\Local\Temp\ipykernel_9988\1433704130.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gender_female['age_group'] = pd.cut(df_gender_female['age'], bins=bins, labels=labels)
C:\Users\Graceffa\AppData\Local\Temp\ipykernel_9988\1433704130.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gender_male['age_group'] = pd.cut(df_gender_male['age'], bins=bins, labels=labels)

In [97]:
df_gender_female

,age,gender,job_type,daily_social_media_time,work_hours_per_day,stress_level,sleep_hours,screen_time_before_sleep,coffee_consumption_per_day,weekly_offline_hours,age_group
6,56,Female,Unemployed,4.381070,3.902309,7.0,7.549849,2.252624,4,24.084905,Senior
7,36,Female,Education,4.089168,6.560467,4.0,6.325507,0.747998,4,8.419648,Adult
11,41,Female,Finance,2.200061,10.147732,9.0,6.091283,0.889256,4,8.732449,Adult
19,61,Female,Education,1.445358,6.419898,6.0,6.975413,0.000000,3,14.088959,Senior
21,55,Female,Finance,0.071503,7.093237,5.0,5.223283,0.880365,1,4.720501,Senior
...,...,...,...,...,...,...,...,...,...,...,...
29986,54,Female,Finance,3.834516,8.630886,7.0,9.247803,0.697204,3,11.617429,Senior
29989,30,Female,Education,3.838301,9.606261,8.0,8.320272,1.479090,3,7.645332,Young Adult
29992,44,Female,Unemployed,1.648825,6.547262,9.0,8.803968,0.305591,2,24.743560,Adult
29995,34,Female,Health,1.877297,10.226358,8.0,5.480462,1.412655,4,21.776927,Young Adult
29998,20,Female,Education,3.796634,6.937410,8.0,6.816069,0.234483,2,12.511871,NaN

In [98]:
#Sort age group after "age" in female df
cols = list(df_gender_female.columns)
cols.insert(1, cols.pop(cols.index('age_group')))
df_gender_female = df_gender_female[cols]

#Sort age group after "age" in male df
cols = list(df_gender_male.columns)
cols.insert(1, cols.pop(cols.index('age_group')))
df_gender_male = df_gender_male[cols]

In [99]:
df_gender_male.isna().sum()

age                             0
age_group                     618
gender                          0
job_type                        0
daily_social_media_time         0
work_hours_per_day              0
stress_level                    0
sleep_hours                     0
screen_time_before_sleep        0
coffee_consumption_per_day      0
weekly_offline_hours            0
dtype: int64

In [100]:
df_gender_female.isna().sum()

age                             0
age_group                     649
gender                          0
job_type                        0
daily_social_media_time         0
work_hours_per_day              0
stress_level                    0
sleep_hours                     0
screen_time_before_sleep        0
coffee_consumption_per_day      0
weekly_offline_hours            0
dtype: int64

In [101]:
#delete all NaN values
df_gender_female = df_gender_female.dropna(subset=['age_group'])
df_gender_male = df_gender_male.dropna(subset=['age_group'])

In [102]:
df_gender_female = df_gender_female.round(2)
df_gender_male = df_gender_male.round(2)

df_gender_female

,age,age_group,gender,job_type,daily_social_media_time,work_hours_per_day,stress_level,sleep_hours,screen_time_before_sleep,coffee_consumption_per_day,weekly_offline_hours
6,56,Senior,Female,Unemployed,4.38,3.90,7.0,7.55,2.25,4,24.08
7,36,Adult,Female,Education,4.09,6.56,4.0,6.33,0.75,4,8.42
11,41,Adult,Female,Finance,2.20,10.15,9.0,6.09,0.89,4,8.73
19,61,Senior,Female,Education,1.45,6.42,6.0,6.98,0.00,3,14.09
21,55,Senior,Female,Finance,0.07,7.09,5.0,5.22,0.88,1,4.72
...,...,...,...,...,...,...,...,...,...,...,...
29985,55,Senior,Female,Education,3.49,10.01,1.0,8.18,0.21,2,4.86
29986,54,Senior,Female,Finance,3.83,8.63,7.0,9.25,0.70,3,11.62
29989,30,Young Adult,Female,Education,3.84,9.61,8.0,8.32,1.48,3,7.65
29992,44,Adult,Female,Unemployed,1.65,6.55,9.0,8.80,0.31,2,24.74
29995,34,Young Adult,Female,Health,1.88,10.23,8.0,5.48,1.41,4,21.78

In [103]:
df_gender_male

,age,age_group,gender,job_type,daily_social_media_time,work_hours_per_day,stress_level,sleep_hours,screen_time_before_sleep,coffee_consumption_per_day,weekly_offline_hours
0,56,Senior,Male,Unemployed,4.18,6.75,4.0,5.12,0.42,4,21.93
1,46,Adult,Male,Health,3.25,9.17,7.0,5.10,0.67,2,0.00
5,38,Adult,Male,Finance,1.51,6.43,5.0,5.52,1.52,5,0.00
10,28,Young Adult,Male,IT,3.34,11.02,4.0,3.95,1.03,1,13.51
13,57,Senior,Male,Education,0.00,6.82,5.0,6.76,1.34,4,18.05
...,...,...,...,...,...,...,...,...,...,...,...
29988,34,Young Adult,Male,IT,3.56,7.69,9.0,5.69,2.33,1,3.69
29990,37,Adult,Male,IT,8.38,7.60,6.0,4.19,1.11,2,2.12
29991,34,Young Adult,Male,Health,4.78,6.82,2.0,6.25,0.00,0,17.80
29996,39,Adult,Male,Health,4.44,4.69,8.0,3.05,0.15,1,4.11
29997,42,Adult,Male,Education,17.72,10.92,5.0,5.49,1.22,1,1.89

In [104]:
df_gender_female.to_csv('data/socialmediaproductivity/cleaned_socialmediaproductivity_female.csv', index=False)
df_gender_male.to_csv('data/socialmediaproductivity/cleaned_socialmediaproductivity_male.csv', index=False)